@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
    }
    .container .question-box {
        width: 100%;
        margin-bottom: 10%;
    }
    .container .aside-box {
        width: 100%;
    }
    .container .question-box .question-body {
        height: fit-content;
        margin-bottom: 12px;
    }
    .container .question-box .question-box-footer {
        height: 20%;
        margin-bottom: 2px;
        position: relative;
    }
    .end-exam .btn-cancel {
        position: relative;
        left: 20%;
    }
    .container .question-box .question-box-footer button {
        position: relative;
        left: 10px;
    }
}