* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
}

.question-box {
    border: 1px solid black;
    margin: 0;
    width: 70%;
    height: 99 vh;
}

.aside-box {
    margin: 0;
    border: 1px solid black;
    width: 30%;
    height: 99.6vh;
}

.student-details {
    padding: 12px;
    min-height: 30%;
    border: 1px solid black;
}

.question-box-footer button {
    padding: 12px;
    margin: 12px;
    cursor: pointer;
    position: relative;
    left: 60%;
    font-size: 20px;
    font-weight: bolder;
    color: #2196f3;
    border: none;
    outline: none;
    background-color: #9ccbf180;
}

.end-exam .btn-cancel {
    padding: 12px;
    margin: 12px;
    cursor: pointer;
    position: relative;
    left: 75%;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(107, 52, 52);
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.2);
}

.end-exam {
    height: 10vh;
}

.question-box-footer button:hover {
    background-color: #2196f3;
    transition: 200ms;
    color: white;
}

.end-exam .btn-cancel:hover {
    background-color: #f44336;
    transition: 200ms;
    color: white;
}

.question-box .question-box-header {
    height: 10%;
    background-color: #d1c4e9;
}

.question-body {
    height: 77%;
    padding-left: 5vw;
}

.question-box .question-box-footer {
    height: 13%;
    background-color: #ede7f6;
}

.question-box .question h2 {
    padding-top: 5vh !important;
    margin: 5vh;
}

.option-box .option {
    margin-top: 2rem;
}

.number-align {
    display: flex;
    flex-direction: row;
}

.question-track .track-numbers {
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    font-weight: bolder;
    padding: 18px;
    margin: 12px;
    height: 15px;
    border-radius: 25%;
    cursor: pointer;
    width: 15px;
    justify-content: center;
    align-items: center;
}