*{
    margin:0;
    padding:0;
}
.weather-input{
    margin:auto;
    width:40%;
    display: flex;
    margin-top:10px;
}

.city-input{
    padding:10px;
    width: 100%;
    border-radius: 2px;
    border:.5px solid grey;
    transition: 150ms;
    flex:2;
   
}
.proceed-button{
    margin-left:10px;
    border:none;
    background: #43a047;
    color:white;
    padding:0px 10px;
}
.weather-data{
    margin:auto;
}
.card-loader{
    display: flex;
    align-items: center;
}
.card{
    width:250px;
    height:250px;
    box-shadow: 2px 2px 5px grey;
    margin: auto;
    margin-top:20px;
    text-align: center;
    padding:10px;
    user-select: none;
}

.loading{
    width:50px;
    height:50px;
    border-right:3px solid black;
    border-radius: 50%;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-name: loading;
    margin:auto;
}

.toast{
    position: fixed;
    padding:10px;
    color:white;
    right:10px;
    top:10px;
    text-align: center;
    animation-name: toast;
    animation-duration: 150ms;
    animation-iteration-count: initial;
}

.toast-error{
  background-color: rgb(250, 57, 57);
}

.toast-success{
      background-color: #43a047;
  }

.condition{
    margin-top:10px;
}

.condition-icon{
    margin-top:12px;
    width:130px;
    height:130px;
}

@keyframes loading {
    0%{
        transform: rotateZ(0deg);
    }
    0%{
        transform: rotateZ(360deg);
    }
}


@keyframes toast{
    0%{
        opacity: 0;
        transform:translateY(30px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}