.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    box-shadow: -2px 4px 10px rebeccapurple;
}

.container .person {
    width: 150px;
}

.navigator {
    border-radius: 50%;
    position: absolute;
    top: 20vh;
    right: 20vw;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 4px 10px rebeccapurple;
}

.navigator div {
    font-size: 30px;
    font-weight: bold;
}

.navigator button:active {
    background-color: black;
    transition: 80ms;
    color: white;
    outline: none;
}

.navigator button {
    padding: 5px;
    outline: none;
    transition: 200ms;
    background-color: transparent;
    border: none;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 30px;
}

.navigator .btn-up {
    transform: rotateZ(-90deg);
}

.navigator .btn-right {
    margin-left: 30px !important;
}

.navigator .btn-left {
    margin-right: 30px !important;
}

.navigator .btn-down {
    transform: rotateZ(90deg);
}