body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    text-align: center;
}

.container .container-header {
    padding: 12px;
    margin: 12px;
}

.container .container-header button {
    padding: 12px;
    color: white;
    border-radius: 5px;
    background-color: rgb(72, 238, 72);
    border: none;
    cursor: pointer;
    width: 100px;
    transition: 800ms;
}

.container .container-header button:active {
    background-color: rgb(20, 245, 20);
    transition: 500ms;
}

.container .container-header button:disabled {
    cursor: not-allowed;
    border: 1px solid red;
    background-color: white;
    color: black;
    transition: 800ms;
}

.container .container-content {
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 18px;
    box-shadow: 2px 4px 10px black;
}